.collection-summary {
  height: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1.2em;
  /* text-shadow: #00000066 1px 0 20px; */
}

.collection-summary-title {
  font-size: 3em;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 10%;
}

.collection-summary-logo img {
  margin: auto;
  display: block;
}

.collection-tagline {
  margin: auto;
  width: 80%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 2.75em;
  font-family: Marck Script;
  rotate: -5deg;
  letter-spacing: -0.05em;
}

.collection-summary-products,
.collection-blurb {
  margin: auto;
  width: 48%;
  text-overflow: ellipsis;
}

.collection-summary-products,
.collection-tagline {
  margin-top: 5%;
}

.collection-summary-products li {
  list-style: none;
  line-height: 2em;
  font-size: 1.2em;
  /*text-shadow: #00000066 1px 0 10px; */
}

.collection-blurb {
  text-align: center;
}