.product4-variants {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin: 15px 30px 30px 30px;
    height: 50%;
}

.product4-variants .image-container img {
    bottom: 0;
    top: initial;
}

.page:nth-child(odd) .product4-variants {
    margin-right: 10%;
}

.page:nth-child(even) .product4-variants {
    margin-left: 10%;
}

.product4-variants svg.barcode {
    width: 120px;
}

.showBarcodes .product4-variants {
    margin-bottom: 0;
}

.showBarcodes .product4-variants .image-container {
    margin-top: -30%;
}

.showBarcodes .product4-variants .image-container img {
    max-width: 70%;
    max-height: 70%;
    right: 0;
    left: 0;
    margin: auto;
}

.showBarcodes .product4-variants .sku {
    padding-top: 3px;
}