.product2 {
  display: flex;
  width: 100%;
}

.page:nth-child(odd) .product2-info {
  margin-right: 10%;
  padding-right: 0;
}

.page:nth-child(even) .product2-info {
  margin-left: 10%;
  padding-left: 0;
}

.product2-image {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 5% 10% 10% 10%;
  flex-flow: column;
  background-color: #00000022;
}

.product2-image img[src$=".jpg"],
.product2-image img[src$=".jpeg"],
.product2-image img[src$=".JPG"],
.product2-image img[src$=".JPEG"] {
  background-color: white;
}

.page:nth-child(odd) .product2-image {
  align-items: start;
}

.page:nth-child(odd) .product2-variants {
  margin-left: 40px;
}

.page:nth-child(even) .product2-image {
  align-items: end;
}

.page:nth-child(even) .product2-variants {
  margin-right: 40px;
}

.imageType-lifestyle .product2-image {
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}

.imageType-lifestyle .product2-image img {
  display: none;
}

.imageType-lifestyle .product2-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00000022;
}

.imageType-lifestyle .product2-image.image-jpg {
  background-blend-mode: darken;
}

.product2-image.image-jpg {
  background-color: white;
}

.product2-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product2-image .sku {
  padding-top: 10px;
  text-align: right;
}

.product2-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding: 25px;
}

.product2-variants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 15px;
  margin-top: 10px;
}

.product2-image .image-container img {
  bottom: 0;
  top: initial;
  position: relative;
}
  
.product2-variants .image-container img {
  bottom: 0;
  left: 0;
  top: initial;
  right: initial;
}

.product .product2-image .image-container {
  padding-bottom: initial;
}