.product-baseSku-DP-STS .product-image,
.product-baseSku-DP-BTS .product-image {
  padding: 0;
  width: 60%;
}

.product-baseSku-DP-SFS .product-image,
.product-baseSku-DP-BFS .product-image {
  padding: 2% 0;
  width: 60%;
}

.product-baseSku-Z-PMD .product-image,
.product-baseSku-Z-WC .product-image {
  width: 40%;
}

.product-baseSku-Z-PMD .variant:nth-of-type(even),
.product-baseSku-Z-WC .variant:nth-of-type(even) {
  padding: 5%;
}

.product-baseSku-Z-HH .variant:nth-of-type(even),
.product-baseSku-Z-PMX .variant:nth-of-type(even) {
  padding: 8%;
}

.product-baseSku-Z-HH .variant:nth-of-type(odd),
.product-baseSku-Z-PMX .variant:nth-of-type(odd) {
  padding: 3%;
}

.product-baseSku-Z-WCB .product-image {
  width: 20%;
  padding-left: 15%;
  padding-right: 14%;
}

.product-baseSku-Z-FSK .product-image {
  background-color: #006877 !important;
}

.product-baseSku-Z-SSK .product-image,
.product-baseSku-Z-SSK .product2-image {
  background-color: #ffd85d !important;
}

.product-baseSku-Z-WSK .product-image {
  background-color: #e1ff5c !important;
}

.product-baseSku-Z-WCSK .product-image {
  background-color: #847c31 !important;
}

.product-baseSku-Z-PMB .product-image {
  width: 40%;
  padding-left: 5%;
  padding-right: 5.5%;
}

.product-baseSku-Z-PK .product-image {
  background-color: #c0a46a !important;
  width: 23%;
  padding-right: 13%;
  padding-left: 12%;
}

.product-baseSku-DP-SKK .product-image,
.product-baseSku-DP-SKK .product2-image {
  background-color: #609fa9 !important;
}

.product-baseSku-DP-MTBS .product-image,
.product-baseSku-DP-MTBS .product2-image {
  background-color: #336464 !important;
}

/* .product-baseSku-Z-TT .product2-image,
.product-baseSku-Z-TT .product-image {
    width: 40%;
    padding-right: 6%;
    padding-left: 6%;
}

.product-baseSku-Z-TT .product-image img {
    width: 80%;
} */

.product-baseSku-Z-HEX .product2-image,
.product-baseSku-Z-HEX .product-image {
  background-color: #b5a38a !important;
}

.product-baseSku-Z-HT420 .product-image {
  background-color: #efdb43 !important;
  width: 37%;
  padding: 0;
}

.product-baseSku-ZL-MT .product-image {
  width: 75%;
}

.product-baseSku-ZL-MT .product-variants {
  grid-template-columns: repeat(1, 1fr);
}

.product-baseSku-Z-HT420 .product-image img {
  rotate: 90deg;
}

.product-baseSku-Z-K .product2-image {
  background-color: #645151 !important;
  color: ivory;
}

.product-baseSku-Z-WCB .product-image {
  background-color: darkgrey !important;
}

.product-baseSku-PS-SCRB .product-image {
  background-color: #646363 !important;
  width: 45%;
  padding-left: 5%;
  padding-right: 0;
}

.product-baseSku-BG-AWO .product-image {
  background-color: #605b48 !important;
}

.product-baseSku-GR-MC .product-image {
  background-color: #e57b21 !important;
}

.product-baseSku-BG-BFWO .product2-image {
  background-color: #d1aa5d !important;
}

.product-baseSku-GR-AGS .product2-image {
  background-color: #ffbb72 !important;
}

.product-baseSku-BG-FCP .product2-image {
  background-color: #ddd1c0 !important;
  width: 40%;
  padding: 5%;
  padding-right: 6%;
}

.product-baseSku-PS-LSW .product-image {
  background-color: #5eb2b7 !important;
}
.product-baseSku-PS-LSW .product-image,
.product-baseSku-PS-LSWP .product-image {

  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.product-baseSku-PS-LSW .product2-variants {
  margin-right: 0;
  margin-left: 0;
}

.product3-variants.product-baseSku-PS-LSW {
  gap: 40px;
}

.product.section-filler.filler-PS-2,
.product.section-filler.filler-ZL-3 {
  margin: 25px;
}

.product-baseSku-ZL-CT .product-image {
  width: 65%;
  padding: 5%;
}

.product-baseSku-PS-FPW .product-image {
  background-color: #4f4f4f !important;
  width: 50%;
}
.product-baseSku-PS-FPWP .product-image {
  width: 50%;
}

.product-baseSku-PS-LFW .product2-image {
  background-color: #d9ccbb !important;
}

.product-baseSku-PS-FPWS .product2-image {
  background-color: #856e49 !important;
  color: ivory;
}

.product-baseSku-PS-RFID .product-image {
  background-color: #67a8aa !important;
}

.product-baseSku-PS-RMW .product2-image {
  background-color: #4a4633 !important;
  color: ivory;
}

.product-baseSku-Z-RBA .product2-image {
  background-size: 135%;
}

.product-baseSku-PS-SCRB .product2-image {
  background-color: #6f694d !important;
  color: ivory;
  width: 40%;
  padding: 5%;
  padding-left: 6%;
}

.product-baseSku-LG-CWA .product-image {
  background-color: #cef2ef !important;
}

.variant-sku-LG-CWA-BLK18 img,
.variant-sku-LG-CWA-CRE18 img,
.variant-sku-LG-CWA-NAV18 img,
.variant-sku-LG-CWA-TEA18 img {
  width: 66%;
}

.variant-sku-LG-CWA-BLK18 .image-container,
.variant-sku-LG-CWA-CRE18 .image-container,
.variant-sku-LG-CWA-NAV18 .image-container,
.variant-sku-LG-CWA-TEA18 .image-container {
  padding-bottom: inherit;
}

.variant-sku-LG-CWA-BLK18 img,
.variant-sku-LG-CWA-CRE18 img,
.variant-sku-LG-CWA-NAV18 img,
.variant-sku-LG-CWA-TEA18 img {
  position: inherit;
}

.product-baseSku-LG-CWA .variant {
  justify-content: end;
}

.product-baseSku-LG-CPWO .product2-image {
  background-color: #d8b6a6 !important;
}

.product-baseSku-J-ZCPG .product4-variants {
  gap: 0;
  margin: 0;
  margin-right: 5%;
}

.product-baseSku-J-TSZN .product-image {
  background-color: #5d264c !important;
}

.product-baseSku-J-TSN .product2-image {
  background-color: #8e7166 !important;
}

.product-baseSku-PS-VT .product2-image {
  background-color: #faefdc !important;
}

.product-baseSku-PS-DT .product-image {
  background-color: #78bbc3 !important;
}
/*
.product-baseSku-Z-HT420 .product-image,
.product-baseSku-Z-ST1 .product-image {
    padding-left: 5%;
    padding-right: 6%;
    width: 40%;
}

.product-baseSku-PG-BIG .product-image img,
.product-baseSku-PG-LAK .product2-image img,
.product-baseSku-PG-SPO .product2-image img
{
    width: 80%;
}
*/
.product-baseSku-PG-UPL .product-image img {
  width: 75%;
}

.product-baseSku-PG-INS .product2-image img {
  width: 45%;
}
/*
.product-baseSku-PG-MOU .product2-image img,*/
.product-baseSku-PG-UPL .product2-image img,
.product-baseSku-PG-PEA .product-image img {
  width: 65%;
}

.product-baseSku-ZL-MOU .product2-image {
  background-size: 125%;
  background-color: linen !important;
  background-position: 65%;
}

.product-baseSku-ZL-FAR .product2-image {
  background-position: 55%;
  background-size: 130%;
}

.product-baseSku-ZL-EXO .product2-image {
  background-position: 80%;
  background-color: #f7e19d !important;
}

.product-baseSku-ZL-DES .product2-image {
  background-color: #f4c841 !important;
}

.product-baseSku-ZL-VEH .product-image {
  background-color: #eb7a4d !important;
}
.product-baseSku-ZL-SEA .product-image {
  background-position: 40%;
  background-color: lightcyan !important;
  background-blend-mode: darken;
}

.product-baseSku-ZL-WOO .product2-image {
  background-color: #ffb95b !important;
}

.product-baseSku-PS-MPW .product2-image {
  background-position: 69%;
}

.product-baseSku-GR-G .product2-image {
  background-position: right;
}

.product-baseSku-ZL-DES .product2-image,
.product-baseSku-ZL-BIR .product2-image {
  width: 40%;
  padding: 7.5% 5%;
}

.product-baseSku-ZL-LBIR .product2-image {
  background-color: #91e2e4 !important;
}

.product-baseSku-ZL-LDIN .product2-image {
  background-color: #53888a !important;
  color: ivory;
}

.product-baseSku-ZL-LEXO .product-image {
  background-color: #fcdab9 !important;
}

.product-baseSku-ZL-LMYT .product2-image {
  background-color: #54d2b1 !important;
}

.product-baseSku-ZL-LREP .product-image {
  background-color: #276f5c !important;
}

.product-baseSku-ZL-LMOU .product2-image {
  background-color: paleturquoise !important;
}

.product-baseSku-ZL-INS .product-image,
.product-baseSku-ZL-DIN .product2-image,
.product-baseSku-ZL-ZOO .product2-image,
.product-baseSku-ZL-LINS .product2-image,
.product-baseSku-ZL-LBIR .product2-image,
.product-baseSku-ZL-LDIN .product2-image,
.product-baseSku-ZL-LMYT .product2-image,
.product-baseSku-D-TC .product-image,
.product-baseSku-D-BOX .product2-image,
.product-baseSku-D-STD .product-image {
  width: 40%;
  padding-left: 5%;
  padding-right: 6%;
}

.product-baseSku-D-TC .product-image {
  background-color: #f0ede8 !important;
}

/* .product-baseSku-ZL-PET .product2-image,
.product-baseSku-ZL-TRA .product2-image,
.product-baseSku-ZL-DIN .product2-image,
.product-baseSku-PS-LFW .product2-image,
.product-baseSku-PS-LSW .product2-image,
.product-baseSku-Z-PP .product2-image {
    background-color: white;
} */

.product-baseSku-PS-ARB .product2-image,
.product-baseSku-D-SDN .product2-image,
.product-baseSku-J-CCP .product2-image,
.product-baseSku-D-SDN .product2-image {
  background-color: white !important;
}

.product-baseSku-PS-ARB .product2-variants .image-container,
 .product-baseSku-PS-RBS .product2-variants .image-container {
  margin-top: -35%;
}

.product-baseSku-PS-MPW .product2-variants .image-container {
  margin-top: -33%;
}

.product-baseSku-PS-MPW .product2-variants img {
  max-height: 73%;
}

.product-baseSku-SG-CCWO .product-image {
  background-color: #0b2126 !important;
}

.product-baseSku-Z-RB .product2-image {
  background-color: darkslategrey !important;
  color: ivory !important;
}

.product-baseSku-PS-DT .product-image {
  background-size: 50%;
}

.product-baseSku-PS-CC .product-image {
  width: 50%;
  padding: 0;
  background-color: white !important;
}

.product-baseSku-PS-VP .product2-image {
  width: 40%;
  padding: 5%;
}

.product-baseSku-PG-DS .product-image {
  background-color: #ef504d !important;
}

.section-filler.filler-ZL-1 {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: bisque;
}

.product-baseSku-ZL-DIN .product2-image {
  background-color: #ceff95 !important;
}
.product-baseSku-ZL-INS .product-image {
  background-color: #fff8b2 !important;
}

.product-baseSku-ZL-MYT .product2-image {
  background-color: #6a286a !important;
  color: ivory;
}

.product-baseSku-ZL-FAR .product2-image {
  background-color: #431743 !important;
  color: ivory;
}

.product-baseSku-ZL-BIR .product2-image {
  background-color: #7dc2a9 !important;
}

.product-baseSku-ZL-TRA .product2-image {
  background-color: #e03535 !important;
  color: ivory;
}

.product-baseSku-ZL-ZOO .product2-image {
  background-color: #8b2323 !important;
  color: ivory;
}

.product-baseSku-LG-CNO .product2-image {
  /* background-color: #eed44f!important; */
  background-color: #58869e !important;
}

.product-baseSku-LG-CFC .product2-image {
  background-color: #d0c7c2 !important;
}

.product-baseSku-LG-CWM .product2-image {
  background-color: #b6a656 !important;
  color: ivory;
}

.product-baseSku-LG-CEWO .product-image {
  background-color: #3f7374 !important;
}

.product-baseSku-PS-CLSW .product2-image {
  background-color: #b27e55 !important;
  color: ivory;
  width: 46%;
  padding: 4%;
}

.product-baseSku-PS-CFPW .product2-image {
  background-color: #284f50 !important;
  color: ivory;
}

.product-baseSku-Z-WGOL .product2-image {
  background-size: contain;
}

.product-baseSku-SG-CCWO .product-image,
.product-baseSku-LG-CEWO .product-image,
.product-baseSku-BG-AWO .product-image,
.product-baseSku-Z-WGOL .product-image,
.product-baseSku-Z-WENG .product-image,
.product-baseSku-Z-WPB .product-image {
  width: 25%;
  padding-left: 12%;
  padding-right: 12%;
}

.product-baseSku-Z-CKMT .product-image {
  background-color: #f7e19d !important;
  padding: 5%;
  width: 41%;
}
.product-baseSku-CG-CPMD .product-image {
  background-color: #535f6f !important;
}

.product-baseSku-CG-CPMX .product-image {
  background-color: #2f3843 !important;
}

.product-baseSku-SG-SWO .product-image {
  background-color: #a6967f !important;
}

.product-baseSku-SG-SNO .product-variants.grid-1x2 {
  margin-right: 0;
}

div[class*="variant-sku-SG-SNO-"] .image-container img {
  rotate: 25deg;
  translate: 0 -25px;
}

.showBarcodes [class*="product-baseSku-ES-"] .product2-variants .image-container {
  margin-top: -23%;
}

.showBarcodes [class*="product-baseSku-ES-"] .product2-variants img {
  max-width: 95%;
  max-height: 85%;
}

.product-baseSku-ES-SAY .product-image {
  width: 54%;
  padding-left: 11%;
  padding-right: 11%;
}

.product-baseSku-ES-LAN .product-image {
  width: 65%;
}

.product-baseSku-ES-VEH .product-image,
.product-baseSku-ES-NS .product-image,
.product-baseSku-ES-TRE .product-image,
.product-baseSku-ES-SAN .product-image,
.product-baseSku-ES-ANI .product-image,
.product-baseSku-ES-NAT .product-image,
.product-baseSku-ES-CA .product-image,
.product-baseSku-ES-STA .product-image,
.product-baseSku-ES-ACT .product-image {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
}

.product-baseSku-D-BOX .product2-image {
  background-color: #fcaa5c !important;
}

.product-baseSku-D-URS .product2-image {
  background-color: #84bdc4 !important;
}

.product-baseSku-D-DP .product-image {
  background-color: #856a6a !important;
}

.product-baseSku-D-DP:nth-of-type(2) .product-image {
  background-color: #e9e9e9 !important;
}

.product-baseSku-D-DP ul {
  list-style: none;
  line-height: 1.5em;
}

.product-baseSku-Z-KREX .product-image {
  background-color: #605b48 !important;
  width: 36%;
  padding-right: 8%;
  padding-left: 7%;
}
.product-baseSku-Z-KBF .product-image {
  background-color: #514b10 !important;
}

.product-baseSku-Z-KBF .product-image {
  width: 27%;
  padding-right: 11%;
  padding-left: 11%;
}

.product-baseSku-Z-KBEA .product-image {
  width: 37%;
  padding-right: 7%;
  padding-left: 7%;
}

.product-baseSku-Z-KSCO .product-image {
  width: 45%;
  padding-right: 4%;
  padding-left: 4%;
}

.product-baseSku-Z-KBUF .product-image {
  width: 43%;
  padding-right: 5%;
  padding-left: 5%;
}

.product-baseSku-Z-KBEA .product-image {
  background-color: #123d22 !important;
}

.product-baseSku-Z-KBUF .product-image {
  background-color: #917620 !important;
}

.product-baseSku-Z-KSCO .product-image {
  background-color: #7e3f0a !important;
}

.product-baseSku-Z-KORB .product-image {
  background-color: #1c1c1c !important;
  width: 28%;
  padding-left: 11%;
  padding-right: 11%;
}

.product-baseSku-Z-KGOL .product-image {
  background-color: #6faa6f !important;
  width: 28%;
  padding-left: 10%;
  padding-right: 11%;
}

.product-baseSku-Z-KPB .product-image {
  background-color: #ea824a !important;
  width: 22%;
  padding-left: 13%;
  padding-right: 13%;
}

.product-baseSku-Z-WGOL .product-image {
  background-color: #16471e !important;
}

.product-baseSku-Z-WPB .product-image {
  background-color: #77a988 !important;
}

.product-baseSku-PS-LKO .product-image {
  background-color: #c2a466 !important;
}

.product-baseSku-Z-WENG .product-image {
  background-color: #f1ff5f !important;

}

.product-baseSku-PS-VP .product-image {
  background-color: #5e758a !important;
}

.product-baseSku-PS-NVT .product2-image {
  background-color: #ea3641 !important;
}

.product-baseSku-PS-RP .product-image {
  background-color: #ac8157 !important;
}

.collection-name-zootility-tools .collection-tagline {
  letter-spacing: initial;
}

.collection-name-rift-gear .collection-summary-title {
  font-style: italic;
  font-size: 5em;
}

.collection-name-rift-gear .collection-tagline {
  margin-top: 0;
}

.collection-name-rift-gear .collection-summary-logo img {
  width: 45%;
}

.collection-name-t-lry .collection-tagline {
  letter-spacing: initial;
}

.collection-name-tekpets .collection-tagline {
  font-family: monospace;
  rotate: initial;
  margin-top: 0;
}

.collection-name-rift-gear .collection-tagline,
.collection-name-loopets .collection-tagline {
  font-size: 1.5em;
  rotate: initial;
  letter-spacing: 0.2em;
}

.collection-name-rift-gear .collection-tagline {
  padding-top: 0;
  padding-bottom: 40px;
  font-family: Bebas Neue;
  rotate: initial;
  letter-spacing: 0.2em;
  width: 40%;
}

.collection-name-techpets .collection-tagline,
.collection-name-loopets .collection-tagline {
  margin-top: 4%;
  font-family: Marker Felt;
  width: 66%;
}

.collection-name-rift-gear .collection-blurb {
  width: 33%;
  text-align: justify;
}

.product-baseSku-Z-HEX .product-image {
  background-color: white!important;
}